/* Form */

.form-container {
    width: 100vw;
    height: 80vh;
    display: flex;
}

/* Input */

.main-input-container {
    width: 50%;
    margin-top: 15px;
    margin-left: 2%;
}

.logo-container {
    width: 100%;
}

img {
    max-height: 100%;
    border: 1px solid #EE9B00;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 3% 0px;
}

input {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0px 0px 4px;
    border: 2px solid #005F73;
    outline: none;
}

#form-title {
    color: #fff;
    font-family: Roboto, sans-serif;
    text-shadow: 1px 1px 2px #005F73;
    margin: 5% 0%;
}

.input-button {
    padding: 16px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    border: 1px solid #001219;
    border-radius: 6px;
    margin: 10px 0;
    outline: none;
    background: #0A9396;
    color: #fff;
}

.input-button:hover {
    cursor: pointer;
    background-color: #005F73;
}

/* List */

.list-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.start-button {
    width: 30%;
    padding: 16px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    border: 1px solid #001219;
    border-radius: 6px;
    margin: 10px 0;
    outline: none;
    background: #005F73;
    color: #fff;
}

.start-button:hover {
    background-color: #94D2BD;
}

@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
    }

    .main-input-container {
        width: 90%;
    }
    
    .list-container {
        width: 100vw;
    }
}