.main-container {
    width: 50%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width : 900px) {
    .main-container{
        width: 100%;
    }
}

