.player-grids-container {
    background-color: #005F73;
    margin: 1% 1%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
}

.player-info-container{
    width: 40%;
    border: 2px solid black;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2 {
    color: #fff;
}

h2:hover{ 
    transform: translate(-2px, -2px);
}

h3 {
    color: #001219;
}

p {
    color: #E9D8A6;
    margin: 0 7% 0 0;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#bid {
    background-color: rgb(127, 229, 127);
    width: 40%;
    border-radius: 20%;
}

#bid:hover {
    background-color: rgb(168, 245, 168);
}

#lost {
    background-color: rgb(247, 81, 81);
    width: 40%;
    border-radius: 20%;
}  

#lost:hover {
    background-color: rgb(240, 119, 119);
}

#bid, #lost {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.label-display {
    display: flex;
    flex-direction: row;
    font-size: 1.1em;
}
