.player-grids-container {
  width: 98%;
  height: 100%;
  background-color: #005f73;
  margin: 1% 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2%;
}

.players-and-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-self: center;
}

.player-info-container {
  width: 50%;
  max-height: 20%;
  border: 2px solid black;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  border: 3px solid black;
}

.name {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0 7% 0 0;
  align-self: center;
}

h2 {
  color: #fff;
}

h2:hover {
  transform: translate(-2px, -2px);
}

h3 {
  color: #001219;
}

#bid-button {
  background-color: rgb(127, 229, 127);
  width: 100%;
  height: 40px;
  border-radius: 20%;
  align-self: center;
  font-size: large;
  font-weight: 700;
  margin: 0 0 4% 0;
}

#bid-button:hover {
  background-color: rgb(168, 245, 168);
  cursor: pointer;
}

#lost-button {
  background-color: rgb(247, 81, 81);
  width: 100%;
  height: 40px;
  border-radius: 20%;
  align-self: center;
  font-size: large;
  font-weight: 700;
  margin: 0 0 4% 0;
}

#lost-button:hover {
  background-color: rgb(240, 119, 119);
  cursor: pointer;
}

.bid-container,
.lost-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5%;
}

.label {
  color: #e9d8a6;
  margin: 0 0 4% 0;
  border: 2px solid black;
  padding: 5%;
  text-align: center;
  border-radius: 25%;
  font-weight: 700;
}

.label:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  h2 {
    width: 20%;
    font-size: large;
  }
  
  .buttons {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    border: 3px solid black;
  }

  #bid-button,
  #lost-button {
    width: 80%;
    height: 25px;
  }
  .label {
    margin: 0 0 4% 0;
    border: 2px solid black;
    text-align: center;
    border-radius: 25%;
    font-weight: 400;
    font-size: x-small;
  }
}
